<footer>
  <div class="logo--white">
    <img class="logo--footer" src="images/logo.svg" alt="Huddle logo" />
  </div>
  <ul class="footer__list list--icon">
    <li class="footer__item list--location">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi doloremque
      sequi id, minus ut beatae!
    </li>

    <li class="footer__item list--contact">+1-543-123-4567</li>
    <li class="footer__item list--email">example@fylo.com</li>
  </ul>

  <ul class="footer__list">
    <li class="footer__item">
      <a class="footer__link" href="#">About Us</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">What We Do</a>
    </li>
    <li class="footer__item"><a class="footer__link" href="#">FAQ</a></li>
  </ul>

  <ul class="footer__list">
    <li class="footer__item">
      <a class="footer__link" href="#">Career</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Blog</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Contact Us</a>
    </li>
  </ul>
</footer>
